USE [master]
GO
/****** Object:  Database [Sistema_ADV]    Script Date: 10/10/2026 9:15:43 PM ******/
CREATE DATABASE [Sistema_ADV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sistema_ADV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Sistema_ADV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sistema_ADV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Sistema_ADV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sistema_ADV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sistema_ADV]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 10/10/2026 9:15:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[cedula] [varchar](20) NULL,
	[telefono] [varchar](20) NULL,
	[rol] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_usuarios_cedula] UNIQUE NONCLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_usuarios_correo] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehiculos]    Script Date: 10/10/2026 9:15:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehiculos](
	[placa] [varchar](10) NOT NULL,
	[categoria] [varchar](50) NULL,
	[marca] [varchar](50) NULL,
	[modelo] [varchar](50) NULL,
	[anio] [int] NULL,
	[precio_dia] [decimal](10, 2) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[foto_url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[alquileres]    Script Date: 10/10/2026 9:15:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alquileres](
	[id_alquiler] [int] IDENTITY(1,1) NOT NULL,
	[no_reserva] [int] NULL,
	[id_cliente] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[placa] [varchar](10) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[monto_total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_alquiler] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_alquileres]    Script Date: 10/10/2026 9:15:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   VISTA 1 - INFORMACIÓN DE ALQUILERES
   Permite consultar los alquileres junto con
   el cliente y el vehículo.
   ============================================================ */

CREATE VIEW [dbo].[vista_alquileres]
AS
SELECT
    a.id_alquiler,
    c.nombre AS cliente,
    v.marca,
    v.modelo,
    a.fecha_inicio,
    a.fecha_fin,
    a.monto_total
FROM alquileres AS a
INNER JOIN usuarios AS c
    ON a.id_cliente = c.id_usuario
INNER JOIN vehiculos AS v
    ON a.placa = v.placa;
GO
/****** Object:  View [dbo].[vista_vehiculos_disponibles]    Script Date: 10/10/2026 9:15:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   VISTA 2 - VEHÍCULOS DISPONIBLES
   Muestra únicamente los vehículos disponibles
   para alquilar.
   ============================================================ */

CREATE VIEW [dbo].[vista_vehiculos_disponibles]
AS
SELECT
    placa,
    marca,
    modelo,
    precio_dia
FROM vehiculos
WHERE estado = 'disponible';
GO
/****** Object:  Table [dbo].[facturas]    Script Date: 10/10/2026 9:15:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturas](
	[no_factura] [int] IDENTITY(1,1) NOT NULL,
	[id_alquiler] [int] NOT NULL,
	[monto_pagado] [decimal](10, 2) NOT NULL,
	[metodo_pago] [varchar](20) NULL,
	[fecha_emision] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[no_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_pagos]    Script Date: 10/10/2026 9:15:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   VISTA 3 - PAGOS REALIZADOS
   Muestra los pagos registrados junto con
   el cliente correspondiente.
   ============================================================ */

CREATE VIEW [dbo].[vista_pagos]
AS
SELECT
    f.no_factura,
    u.nombre AS cliente,
    f.monto_pagado,
    f.metodo_pago,
    f.fecha_emision
FROM facturas AS f
INNER JOIN alquileres AS a
    ON f.id_alquiler = a.id_alquiler
INNER JOIN usuarios AS u
    ON a.id_cliente = u.id_usuario;
GO
/****** Object:  Table [dbo].[reservaciones]    Script Date: 10/10/2026 9:15:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservaciones](
	[no_reserva] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[placa] [varchar](10) NOT NULL,
	[fecha_recogida] [date] NOT NULL,
	[fecha_retorno] [date] NOT NULL,
	[estado_reserva] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[no_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[facturas] ADD  CONSTRAINT [DF_facturas_fecha]  DEFAULT (sysdatetime()) FOR [fecha_emision]
GO
ALTER TABLE [dbo].[reservaciones] ADD  CONSTRAINT [DF_reservaciones_estado]  DEFAULT ('pendiente') FOR [estado_reserva]
GO
ALTER TABLE [dbo].[usuarios] ADD  CONSTRAINT [DF_usuarios_rol]  DEFAULT ('Cliente') FOR [rol]
GO
ALTER TABLE [dbo].[vehiculos] ADD  CONSTRAINT [DF_vehiculos_estado]  DEFAULT ('disponible') FOR [estado]
GO
ALTER TABLE [dbo].[alquileres]  WITH CHECK ADD  CONSTRAINT [FK_alquileres_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[alquileres] CHECK CONSTRAINT [FK_alquileres_cliente]
GO
ALTER TABLE [dbo].[alquileres]  WITH CHECK ADD  CONSTRAINT [FK_alquileres_reservacion] FOREIGN KEY([no_reserva])
REFERENCES [dbo].[reservaciones] ([no_reserva])
GO
ALTER TABLE [dbo].[alquileres] CHECK CONSTRAINT [FK_alquileres_reservacion]
GO
ALTER TABLE [dbo].[alquileres]  WITH CHECK ADD  CONSTRAINT [FK_alquileres_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[alquileres] CHECK CONSTRAINT [FK_alquileres_usuario]
GO
ALTER TABLE [dbo].[alquileres]  WITH CHECK ADD  CONSTRAINT [FK_alquileres_vehiculo] FOREIGN KEY([placa])
REFERENCES [dbo].[vehiculos] ([placa])
GO
ALTER TABLE [dbo].[alquileres] CHECK CONSTRAINT [FK_alquileres_vehiculo]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [FK_facturas_alquiler] FOREIGN KEY([id_alquiler])
REFERENCES [dbo].[alquileres] ([id_alquiler])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [FK_facturas_alquiler]
GO
ALTER TABLE [dbo].[reservaciones]  WITH CHECK ADD  CONSTRAINT [FK_reservaciones_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[reservaciones] CHECK CONSTRAINT [FK_reservaciones_cliente]
GO
ALTER TABLE [dbo].[reservaciones]  WITH CHECK ADD  CONSTRAINT [FK_reservaciones_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[reservaciones] CHECK CONSTRAINT [FK_reservaciones_usuario]
GO
ALTER TABLE [dbo].[reservaciones]  WITH CHECK ADD  CONSTRAINT [FK_reservaciones_vehiculo] FOREIGN KEY([placa])
REFERENCES [dbo].[vehiculos] ([placa])
GO
ALTER TABLE [dbo].[reservaciones] CHECK CONSTRAINT [FK_reservaciones_vehiculo]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [CK_facturas_metodo_pago] CHECK  (([metodo_pago]='transferencia' OR [metodo_pago]='tarjeta' OR [metodo_pago]='efectivo'))
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [CK_facturas_metodo_pago]
GO
ALTER TABLE [dbo].[reservaciones]  WITH CHECK ADD  CONSTRAINT [CK_reservaciones_estado] CHECK  (([estado_reserva]='cancelada' OR [estado_reserva]='confirmada' OR [estado_reserva]='pendiente'))
GO
ALTER TABLE [dbo].[reservaciones] CHECK CONSTRAINT [CK_reservaciones_estado]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [CK_usuarios_rol] CHECK  (([rol]='Cliente' OR [rol]='Administrador'))
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [CK_usuarios_rol]
GO
ALTER TABLE [dbo].[vehiculos]  WITH CHECK ADD  CONSTRAINT [CK_vehiculos_estado] CHECK  (([estado]='mantenimiento' OR [estado]='alquilado' OR [estado]='disponible'))
GO
ALTER TABLE [dbo].[vehiculos] CHECK CONSTRAINT [CK_vehiculos_estado]
GO
/****** Object:  StoredProcedure [dbo].[alquileres_por_cliente]    Script Date: 10/10/2026 9:15:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ============================================================
   PROCEDURE 3 - ALQUILERES POR CLIENTE
   ============================================================ */

CREATE PROCEDURE [dbo].[alquileres_por_cliente]
    @id_cliente INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM alquileres
    WHERE id_cliente = @id_cliente;
END;

GO
/****** Object:  StoredProcedure [dbo].[registrar_cliente]    Script Date: 10/10/2026 9:15:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   PROCEDURE 1 - REGISTRAR CLIENTE
   ============================================================ */

CREATE PROCEDURE [dbo].[registrar_cliente]
    @nombre VARCHAR(100),
    @correo VARCHAR(100),
    @contrasena VARCHAR(255),
    @telefono VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO usuarios (
        nombre,
        correo,
        contrasena,
        telefono,
        rol
    )
    VALUES (
        @nombre,
        @correo,
        @contrasena,
        @telefono,
        'Cliente'
    );
END;

GO
/****** Object:  StoredProcedure [dbo].[vehiculos_disponibles]    Script Date: 10/10/2026 9:15:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ============================================================
   PROCEDURE 2 - VEHÍCULOS DISPONIBLES
   ============================================================ */

CREATE PROCEDURE [dbo].[vehiculos_disponibles]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM vehiculos
    WHERE estado = 'disponible';
END;

GO
USE [master]
GO
